<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.planetkershaw.heatingtest">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".HeatingTestApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:label="Hillview Heating"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.RoomListActivity"
            android:label="Hillview Heating"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.planetkershaw.ROOMLIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.RoomDetailActivity"
            android:label="@string/title_room_detail"
            android:parentActivityName=".ui.RoomListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.planetkershaw.heatingtest.ui.RoomListActivity" />
        </activity>
        <activity
            android:name=".ui.EditEventActivity"
            android:label="Edit Event"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.planetkershaw.EDITEVENT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.LightListActivity"
            android:label="Hillview Lighting"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.planetkershaw.LIGHTLIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.planetkershaw.SETTINGS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".zwayservice.DataChangedReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.planetkershaw.HEATING_DATA_CHANGED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.planetkershaw.LIGHTING_DATA_CHANGED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.planetkershaw.NETWORK_ERROR" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.ScheduleActivity"
            android:label="@string/title_activity_schedule"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name=".zwayservice.TimeService" />

        <activity
            android:name=".ui.ModuleChoiceActivity"
            android:label="Choose Module"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.planetkershaw.CHOICE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        />
    </application>

</manifest>